/* 

*/
.wrapper-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  text-align: center;
}
.wrapper-container button {
  padding: 10px 20px;
  background-color: #614101;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
}

.value-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 40px;
  margin-top: 50px;
}
